torch>=2.2.0
torchvision
torchaudio
numpy==1.26.4
scipy
opencv-python
imageio
imageio-ffmpeg
librosa
tqdm
gradio==4.44.1
gfpgan
basicsr
facexlib
huggingface_hub
transformers
accelerate
safetensors
Pillow
einops
omegaconf
pyyaml
ffmpeg-python
