torch
torchvision
torchaudio

opencv-python
numpy
scipy
Pillow

gradio>=5.0

imageio
imageio-ffmpeg

gdown
tqdm

ffmpeg-python

transformers
safetensors
omegaconf
einops

librosa
soundfile

face-alignment
facexlib
basicsr
realesrgan
gdown
face-alignment
facexlib
realesrgan
soundfile
